.width-auto
  width: auto

.height-auto
  height: auto

@for $i from 0 through 50
  $amount: $i * 2
 
  .height-vh#{$i}, .height-#{$i}-vh
    height: $amount + unquote("vh")
   
  .height-#{$i}
    height: $amount + unquote("%")

  .width-vw#{$i}, .width-#{$i}-vw
    width: $amount + unquote("vw")

  .width-#{$i}
    width: $amount + unquote("%")
